{%extends "dashboard/base.html" %}
{% block content %}

<div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#chapter33" role="tab" data-toggle="tab">Chapter 33</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#chapter30" role="tab" data-toggle="tab">Chapter 30</a>
      </li> <li class="nav-item">
        <a class="nav-link" href="#chapter31" role="tab" data-toggle="tab">Chapter 31</a>
      </li> <li class="nav-item">
        <a class="nav-link" href="#chapter35" role="tab" data-toggle="tab">Chapter 35</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#chapter16" role="tab" data-toggle="tab">Chapter 1606</a>
      </li>
    </ul>

    <div class="tab-content">

        <div role"tabpanel" class="tab-pane active" id="chapter33">
            {% for user in users %}
                {% if user.is_staff == False and user.userextended.chapter == '33' %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ user.profile.image.url }}" />
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-posts'  user.last_name %}">{{ user.last_name }},</a>
                            <a class="mr-0" href="">{{ user.first_name }}</a>
                        </div>
                            <a class="mr-2" href="">Chapter-{{ user.userextended.chapter }}</a>
                    </div>
                </article>
                {% endif %}
            {% endfor %} 
        </div>

        <div role"tabpanel" class="tab-pane" id="chapter30">
            {% for user in users %}
                {% if user.is_staff == False and user.userextended.chapter == '30' %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ user.profile.image.url }}" />
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="">{{ user.last_name }},</a>
                            <a class="mr-0" href="">{{ user.first_name }}</a>
                        </div>
                            <a class="mr-2" href="">Chapter-{{ user.userextended.chapter }}</a>
                    </div>
                </article>
                {% endif %}
            {% endfor %} 

        </div>

        <div role"tabpanel" class="tab-pane" id="chapter31">
            {% for user in users %}
                {% if user.is_staff == False and user.userextended.chapter == '31' %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ user.profile.image.url }}" />
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="">{{ user.last_name }},</a>
                            <a class="mr-0" href="">{{ user.first_name }}</a>
                        </div>
                            <a class="mr-2" href="">Chapter-{{ user.userextended.chapter }}</a>
                    </div>
                </article>
                {% endif %}
            {% endfor %} 
        </div>

        <div role"tabpanel" class="tab-pane" id="chapter35">
            {% for user in users %}
                {% if user.is_staff == False and user.userextended.chapter == '35' %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ user.profile.image.url }}" />
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ user.last_name }},</a>
                            <a class="mr-0" href="#">{{ user.first_name }}</a>
                        </div>
                            <a class="mr-2" href="">Chapter-{{ user.userextended.chapter }}</a>
                    </div>
                </article>
                {% endif %}
            {% endfor %} 
        </div>
        <div role"tabpanel" class="tab-pane" id="chapter16">
            {% for user in users %}
                {% if user.is_staff == False and user.userextended.chapter == '1606' %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ user.profile.image.url }}" />
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="">{{ user.last_name }},</a>
                            <a class="mr-0" href="">{{ user.first_name }}</a>
                        </div>
                            <a class="mr-2" href="">Chapter-{{ user.userextended.chapter }}</a>
                    </div>
                </article>
                {% endif %}
            {% endfor %} 
        </div>
    </div>
</div>

   

{% endblock content %}