{%extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    {% if user.userextended.is_firsttime %}
          <table style="width:100%">
          <caption></caption>
          <tr>
            <th>First Visit Files</th>
            <th>Approved?</th> 
            <th>Upload</th>
          </tr>
          <tr>
            <td><a href="https://www.va.gov/education/how-to-apply/">Certificate of Eligibility</a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ cert_form.as_p}}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
          <tr>
            <td><a href="https://mvp.nmsu.edu/files/2018/09/MVP-Information-Sheet.pdf">NMSU MVP Information Sheet</a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ mvp_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
          <tr>
            <td>NMSU MVP Student Responsibilities Form</td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ stud_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
              <tr>
            <td><a href="https://mvp.nmsu.edu/files/2018/08/MVP_Waiver.pdf">NMSU MVP Resident Tuition Application </a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ resid_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
        </table>
    {% endif %}
    {% if user.userextended.chapter == '33' %}
        <table style="width:100%">
        <caption></caption>
          <tr>
            <th>Chapter 33 Benefits</th>
            <th>Checklist</th> 
            <th>Upload</th>
          </tr>
          <tr>
            <td><a href="https://my.nmsu.edu">Concise Student Schedule </a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ conc_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
          <tr>
            <td><a href="https://degreeaudit.nmsu.edu/">Star Degree Audit</a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ star_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
        </table>
    {% elif user.userextended.chapter == '31' %}
       <table style="width:100%">
       <caption></caption>
          <tr>
            <th>Chapter 31 Benefits</th>
            <th>Checklist</th> 
            <th>Upload</th>
          </tr>
          <tr>
            <td><a href="https://my.nmsu.edu">Concise Student Schedule </a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ conc_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
          <tr>
            <td>Star Degree Audit</td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ star_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
        </table>
    {% elif user.userextended.chapter == '30' %}
       <table style="width:100%">
       <caption></caption>
          <tr>
            <th>Chapter 30 Benefits</th>
            <th>Checklist</th> 
            <th>Upload</th>
          </tr>
          <tr>
            <td><a href="https://my.nmsu.edu">Concise Student Schedule</a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ conc_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
          <tr>
            <td><a href="https://degreeaudit.nmsu.edu/">Star Degree Audit</a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ star_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
        </table>
    {% elif user.userextended.chapter == '35' %}
       <table style="width:100%">
       <caption></caption>
          <tr>
            <th>Chapter 35 Benefits</th>
            <th>Checklist</th> 
            <th>Upload</th>
          </tr>
          <tr>
            <td><a href="https://my.nmsu.edu">Concise Student Schedule</a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ conc_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
          <tr>
            <td><a href="https://degreeaudit.nmsu.edu/">Star Degree Audit</a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ star_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
        </table>
    {% elif user.userextended.chapter == '1606' %}
       <table style="width:100%">
        <caption></caption>
          <tr>
            <th>Chapter 1606 Benefits</th>
            <th>Checklist</th> 
            <th>Upload</th>
          </tr>
          <tr>
            <td><a href="https://my.nmsu.edu">Concise Student Schedule </a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ conc_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
          <tr>
            <td><a href="https://degreeaudit.nmsu.edu/">Star Degree Audit</a></td>
            <td>NO</td> 
            <td><form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ star_form.as_p }}
                <button type="submit">Upload</button>
                </form>
            </td>
          </tr>
        </table>
    {% endif %}

{% endblock content %}