{%extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% block submit_buttons_bottom %}

<script> function myFunc() { alert("You are about to certify this form") }</script>
{% for post in posts %}
{% if post.student.username == view.kwargs.username %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.student.profile.image.url }}" />
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Begin date: {{ post.date_began|date:"F d, Y T g:i" }}</small>
                </div>
                <h4><a class="article-title" href="{% url 'post-detail' post.id %}">Name: {{ post.student.last_name }},{{post.student.first_name}}</a></h4>
                <h5>Email: {{ post.student.email }}</h5>
                <h5>Phone#: {{ post.student.userextended.phone_number }}</h5>
                <p class="article-content">Notes: {{ post.comment }}</p>
            </div>
                
        </article>
  
        <table class="table" style="width:100%">
        <caption>Last Certified by:</caption>
        <thead class="thead-light">
        <tr>
            <th scope="col">Forms</th>
            <th scope="col">Edit Date</th> 
            <th scope="col">Action</th>
            <th scope="col">Status</th>

        </tr>
        </thead>
            <tr> 
            <td><a href="https://www.va.gov/education/how-to-apply/">Certificate of Eligibility</a></td>
            <td><small class="text-muted">{{ post.date_cert|date:"F d, Y T g:i" }}</small></td> 
            <td><form method="get">
               
                
                    <input type="submit" {% if post.Certificate_of_eligibility == False %} value="Certify"{% endif %} {% if post.Certificate_of_eligibility == True %} value="Uncertify"{% endif %} name="boolcoecert"  />
                    
            </form>
            </td>
            <td>{% if post.Certificate_of_eligibility == False %} <img src="/media/red_check.png">{% endif %} {% if post.Certificate_of_eligibility == True %} <img src="/media/green_check.png">{% endif %}</td>
            </tr>
        <tr>
        <td><a href="https://mvp.nmsu.edu/files/2018/09/MVP-Information-Sheet.pdf">NMSU MVP Information Sheet</a></td>
        <td><small class="text-muted">{{ post.date_info|date:"F d, Y T g:i" }}</small></td> 
        <td><form method="get">
                
                    <input type="submit" {% if post.MVP_information_sheet == False %} value="Certify"{% endif %} {% if post.MVP_information_sheet == True %} value="Uncertify"{% endif %} name="boolinfocert"  />
                    
            </form>
        </td>
        <td>{% if post.MVP_information_sheet == False %} <img src="/media/red_check.png">{% endif %} {% if post.MVP_information_sheet == True %} <img src="/media/green_check.png">{% endif %}</td>

        </tr>
        <tr>
                {%if post.student.userextended.chapter == '30' or post.student.userextended.chapter == '1606' or post.student.userextended.chapter == '35' %}
                    <td><a href="https://mvp.nmsu.edu/files/2018/06/Ch_30_1606_1607_35_Student_Responsibilities.pdf">NMSU MVP Student Responsibilities Form</a></td>
                {% elif post.student.userextended.chapter == '31' %} 
                    <td><a href="https://mvp.nmsu.edu/files/2018/06/Ch_31_Student_Responsibilities.pdf">NMSU MVP Student Responsibilities Form</a></td> 
                {%else%} 
                    <td><a href="https://mvp.nmsu.edu/files/2018/06/Ch_33_Student_Responsibilities.pdf">NMSU MVP Student Responsibilities Form</a></td> 
                {%endif%}     
        <td><small class="text-muted">{{ post.date_respo|date:"F d, Y T g:i" }}</small></td> 
        <td><form method="get" >
                
                    <input type="submit" {% if post.Student_responsibility == False %} value="Certify"{% endif %} {% if post.Student_responsibility == True %} value="Uncertify"{% endif %} name="boolrespcert"  />
                    
            </form>
        </td>
        <td>{% if post.Student_responsibility == False %} <img src="/media/red_check.png">{% endif %} {% if post.Student_responsibility == True %} <img src="/media/green_check.png">{% endif %}</td>

        </tr>
            <tr>
        <td><a href="https://mvp.nmsu.edu/files/2018/08/MVP_Waiver.pdf">NMSU MVP Resident Tuition Application </a></td>
        <td><small class="text-muted">{{ post.date_tuition|date:"F d, Y T g:i" }}</small></td> 
        <td><form method="get" >
                
                    <input type="submit" {% if post.Resident_tuition_app == False %} value="Certify"{% endif %} {% if post.Resident_tuition_app == True %} value="Uncertify"{% endif %} name="booltuition"  />
                    
            </form>
        </td>
        <td>{% if post.Resident_tuition_app == False %} <img src="/media/red_check.png">{% endif %} {% if post.Resident_tuition_app == True %} <img src="/media/green_check.png">{% endif %}</td>

        </tr>
   

   <!-- {% if post.student.userextended.chapter == '33' or post.student.userextended.chapter == '30' or post.student.userextended.chapter == '35' or post.student.userextended.chapter == '35' %} -->
           
                <tr> 
                    <td><a href="https://my.nmsu.edu">Concise Student Schedule</a></td>
                    <td><small class="text-muted">{{ post.date_concise|date:"F d, Y T g:i" }}</small></td> 
                    <td>
                    <form method="get" >
                        <input type="submit" {% if post.Concise_student_schedule == False %} value="Certify"{% endif %} {% if post.Concise_student_schedule == True %} value="Uncertify"{% endif %} name="boolconcise"  />
                     </form>
                    </td>
                    <td>{% if post.Concise_student_schedule == False %} <img src="/media/red_check.png">{% endif %} {% if post.Concise_student_schedule == True %} <img src="/media/green_check.png">{% endif %}</td>

         
                </tr>
            <tr>
            <td><a href="https://degreeaudit.nmsu.edu/">Star Degree Audit</a></td>
            <td><small class="text-muted">{{ post.date_audit|date:"F d, Y T g:i" }}</small></td> 
            <td>
            <form method="get" >
                        <input type="submit" {% if post.Star_degree_audit == False %} value="Certify"{% endif %} {% if post.Star_degree_audit == True %} value="Uncertify"{% endif %} name="boolaudit"  />
            </form>
            </td>
            <td>{% if post.Star_degree_audit == False %} <img src="/media/red_check.png">{% endif %} {% if post.Star_degree_audit == True %} <img src="/media/green_check.png">{% endif %}</td>

            </tr>
    </table>
{% endif %}
    
{% endif %}
{% endfor %}


    <form action="#" method="get">
        <input type="submit" class="btn" value="Notify Student" name="certbtn">
    </form>
{% endblock submit_buttons_bottom %}
{% endblock content %}