{%extends "dashboard/base.html" %}
{% block content %}
    <h1>User: {{ view.kwargs.username}} </h1>
        <table style="width:100%">
        <caption></caption>
        <tr>
        <th>Forms</th>
        <th>Checklist</th> 
        <th>Certify</th>
        </tr>
        <tr>
        <td><a href="https://www.va.gov/education/how-to-apply/">Certificate of Eligibility</a></td>
        <td>NO</td> 
        <td><form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            </form>
        </td>
        </tr>
        <tr>
        <td><a href="https://mvp.nmsu.edu/files/2018/09/MVP-Information-Sheet.pdf">NMSU MVP Information Sheet</a></td>
        <td>NO</td> 
        <td><form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            </form> 
        </td>
        </tr>
        <tr>
        <td>NMSU MVP Student Responsibilities Form</td>
        <td>NO</td> 
        <td><form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            </form>
        </td>
        </tr>
            <tr>
        <td><a href="https://mvp.nmsu.edu/files/2018/08/MVP_Waiver.pdf">NMSU MVP Resident Tuition Application </a></td>
        <td>NO</td> 
        <td><form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            </form>
        </td>
        </tr>
    </table>



    <form action="#" method="get">
        <input type="submit" class="btn" value="Notify Student" name="certbtn">
    </form>
{% endblock content %}