{%extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% block submit_buttons_bottom %}

<script> function myFunc() { alert("You are about to certify this form") }</script>
{% for post in posts %}
{% if post.student.username == view.kwargs.username %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.student.profile.image.url }}" />
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Begin date: {{ post.date_began|date:"F d, Y T g:i" }}</small>
                </div>
                <h4><a class="article-title" href="{% url 'post-detail' post.id %}">Name: {{ post.student.last_name }},{{post.student.first_name}}</a></h4>
                <h5>Email: {{ post.student.email }}</h5>
                <h5>Phone#: {{ post.student.userextended.phone_number }}</h5>
                <p class="article-content">Notes: {{ post.comment }}</p>
            </div>
                
        </article>
  
        <table class="table" style="width:100%">
        <caption>Last Certified by:</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">{{post.student.first_name}} Forms</th>
                <th scope="col">Edit Date</th>
                <th scope="col">Action</th>
                <th scope="col">Status</th>

            </tr>
        </thead>
        <tr>
            
            {%if not post.student.userextended.cert_of_elig  %}
                <th>Student has not uploaded Certificate of Eligibility</th>
            {%else%}
                <td><a href="/media/{{post.student.userextended.cert_of_elig}}" target="_blank">Open Students Certificate of Eligibilty</a></td>
            {%endif %}
            <td><small class="text-muted">{{ post.date_began|date:"F d, Y T g:i" }}</small></td>
            <td>
                <form method="get">

                    <input type="submit" {% if post.Certificate_of_eligibility == False %} value="Certify" {%else%} value="Uncertify" {% endif %} name="boolcoecert" />

                </form>
            </td>
            <td>{% if post.Certificate_of_eligibility == False %} <img src="/media/red_check.png">{% else %} <img src="/media/green_check.png">{% endif %}</td>
        </tr>
        <tr>
        {%if not post.student.userextended.MVP_info_sheet %}
            <th>Student has not uploaded MVP Information Sheet</th>
        {%else%}
            <td><a href="/media/{{post.student.userextended.MVP_info_sheet}}" target="_blank">Open Students MVP Information sheet</a></td>
        {%endif %}
        <td><small class="text-muted">{{ post.date_info|date:"F d, Y T g:i" }}</small></td> 
        <td><form method="get">
                
                    <input type="submit" {% if post.MVP_information_sheet == False %} value="Certify" {% else %} value="Uncertify"{% endif %} name="boolinfocert"  />
                    
            </form>
        </td>
        <td>{% if post.MVP_information_sheet == False %} <img src="/media/red_check.png"> {% else %} <img src="/media/green_check.png">{% endif %}</td>

        </tr>
        <tr>
            {%if not post.student.userextended.stud_respon %}
                <th>Student has not uploaded Student Responsibilty sheet</th>
            {%else%}
                <td><a href="/media/{{post.student.userextended.stud_respon}}" target="_blank">Open Students Responsibility Sheet</a></td>
            {%endif %}    
        <td><small class="text-muted">{{ post.date_respo|date:"F d, Y T g:i" }}</small></td> 
        <td><form method="get" >
                
                    <input type="submit" {% if post.Student_responsibility == False %} value="Certify" {%else%} value="Uncertify"{% endif %} name="boolrespcert"  />
           
            </form>
        </td>
        <td>{% if post.Student_responsibility == False %} <img src="/media/red_check.png"> {% else %} <img src="/media/green_check.png">{% endif %}</td>

        </tr>
            <tr>
        {%if not post.student.userextended.resid_tuit_app %}
            <th>Student has not uploaded Resident Tuition Application</th>
        {%else%}
            <td><a href="/media/{{post.student.userextended.resid_tuit_app}}" target="_blank">Open Students MVP Information sheet</a></td>
        {%endif %}
        <td><small class="text-muted">{{ post.date_tuition|date:"F d, Y T g:i" }}</small></td> 
        <td><form method="get" >
                
                    <input type="submit" {% if post.Resident_tuition_app == False %} value="Certify" {% else %} value="Uncertify"{% endif %} name="booltuition"  />
                    
            </form>
        </td>
        <td>{% if post.Resident_tuition_app == False %} <img src="/media/red_check.png"> {% else %} <img src="/media/green_check.png">{% endif %}</td>

        </tr>
   

   <!-- {% if post.student.userextended.chapter == '33' or post.student.userextended.chapter == '30' or post.student.userextended.chapter == '35' or post.student.userextended.chapter == '35' %} -->
           
                <tr> 
            {%if not post.student.userextended.conc_stud_sched %}
                <th>Student has not uploaded MVP Information Sheet</th>
            {%else%}
                <td><a href="/media/{{post.student.userextended.conc_stud_sched}}" target="_blank">Open Students Concise Student Schedule</a></td>
            {%endif %}
                    <td><small class="text-muted">{{ post.date_concise|date:"F d, Y T g:i" }}</small></td> 
                    <td>
                    <form method="get" >
                        <input type="submit" {% if post.Concise_student_schedule == False %} value="Certify"{% else %} value="Uncertify"{% endif %} name="boolconcise"/>
                     </form>
                    </td>
                    <td>{% if post.Concise_student_schedule == False %} <img src="/media/red_check.png">{% else %} <img src="/media/green_check.png">{% endif %}</td>

         
                </tr>
            <tr>
            {%if not post.student.userextended.star_deg_audit %}
            <th>Student has not uploaded their STAR Degree Audit</th>
            {%else%}
            <td><a href="/media/{{post.student.userextended.star_deg_audits}}" target="_blank">Open Students STAR Degree Audit</a></td>
            {%endif %}
            <td><small class="text-muted">{{ post.date_audit|date:"F d, Y T g:i" }}</small></td> 
            <td>
            <form method="get" >
                        <input type="submit" {% if post.Star_degree_audit == False %} value="Certify"{% else %} value="Uncertify"{% endif %} name="boolaudit"  />
            </form>
            </td>
            <td>{% if post.Star_degree_audit == False %} <img src="/media/red_check.png">{% else %} <img src="/media/green_check.png">{% endif %}</td>

            </tr>
    </table>
{% endif %}
    
{% endif %}
{% endfor %}


    <form action="#" method="get">
        <input type="submit" class="btn" value="Notify Student" name="certbtn">
    </form>
{% endblock submit_buttons_bottom %}
{% endblock content %}